<!DOCTYPE html>
<html lang="en">
    <%- partial('_partials/head') %>
    <body>
        <div class="site">
            <%- partial('_partials/header') %>
            <div class="page-transition-wrapper">
                <div class="page-transition-screen"></div>
                <main>
                    <%- body %>
                </main>
            </div>
            <%- partial('_partials/footer') %>
        </div>
    </body>
</html>
